<div class="button-group">
  <%= link_to_unless_current('English', {locale: 'en' }, {class: 'button'}) %>
  <%= link_to_unless_current('German', {locale: 'de' }, {class: 'button'}) %>
  <%= link_to_unless_current('Spanish', {locale: 'es' }, {class: 'button'}) %>
</div>
<!-- add link to translations in nav bar
routing set up so that everything is wrapped in locale scope
new translations automatically added to english rather than appropriate translation
-->

<h1><%= t('.title') %></h1>
<div id="incidents_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script type='text/javascript'>
  $(document).ready(function(){
        chart = new Highcharts.Chart({
        chart: {
            renderTo: 'incidents_chart',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Incidents by Month'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Number of Incidents'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Incidents',
            data:
                <%=
                    @incidents_month.map do |month, incident|
                        [incident.count]
                    end.to_json.html_safe
                %>
        }]
    });
});
</script>
<%= "#{pluralize(@incidents.count, 'incident')} #{t('.subtitle')}" %>
    <table class="hover" id="incidents">
    <thead>
        <tr>
            <td><%= Incident.human_attribute_name(:first_name) %></td>
            <td><%= Incident.human_attribute_name(:last_name) %></td>
            <td><%= Incident.human_attribute_name(:department) %></td>
            <td><%= Incident.human_attribute_name(:job_title) %></td>
            <td><%= Incident.human_attribute_name(:date_of_hire) %></td>
            <td><%= Incident.human_attribute_name(:description) %></td>
            <td><%= Incident.human_attribute_name(:date_of_incident) %></td>
            <td><%= Incident.human_attribute_name(:date_reported) %></td>
            <td><%= Incident.human_attribute_name(:location_of_incident) %></td>
            <td><%= Incident.human_attribute_name(:type_of_incident) %></td>
            <td><%= Incident.human_attribute_name(:supervisor_last_name) %></td>
            <td><%= Incident.human_attribute_name(:supervisor_first_name) %></td>
            <td><%= Incident.human_attribute_name(:suggested_corrective_action) %></td>
            <td colspan="2"><%= t('.action') %></td>
        </tr>
    </thead>
    <tbody>
        <% @incidents.each do |incident| %>
        <tr>
            <td><%= incident.first_name %></td>
            <td><%= incident.last_name %></td>
            <td><%= incident.department %></td>
            <td><%= incident.job_title %></td>
            <td><%= incident.date_of_hire.to_formatted_s(:long) %></td>
            <td><%= incident.description.truncate_words(10) %></td>
            <td><%= incident.date_of_incident.to_formatted_s(:long) %></td>
            <td><%= incident.date_reported.to_formatted_s(:short) %></td>
            <td><%= incident.location_of_incident %></td>
            <td><%= incident.type_of_incident %></td>
            <td><%= incident.supervisor_last_name %></td>
            <td><%= incident.supervisor_first_name %></td>
            <td><%= incident.suggested_corrective_action.truncate_words(10) %></td>
            <td><%= link_to 'Edit Incident', edit_incident_path(incident)%></td>
            <td><%= link_to 'Show Incident', incident_path(incident) %></td>
        </tr>
        <% end %>
    </tbody>
</table>




