<%= "#{pluralize(@incidents.count, 'incident')}" %>

<table>
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Department</td>
            <td>Job Title</td>
            <td>Date of Hire</td>
            <td>Description</td>
            <td>Date of Incident</td>
            <td>Date Reported</td>
            <td>Location of Incident</td>
            <td>Affected Body Part</td>
            <td>Type of Injury</td>
            <td>Type of Incident</td>
            <td>Treatment</td>
            <td>Property Damage</td>
            <td>Supervisor Last Name</td>
            <td>Supervisor First Name</td>
            <td>Suggested Corrective Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <% @incidents.each do |incident| %>
                    <%= incident.first_name %>
                    <%= incident.last_name %>
                    <%= incident.department %>
                    <%= incident.job_title %>
                    <%= incident.date_of_hire %>
                    <%= incident.description %>
                    <%= incident.date_of_incident %>
                    <%= incident.date_reported %>
                    <%= incident.location_of_incident %>
                    <%= incident.affected_body_part %>
                    <%= incident.type_of_injury %>
                    <%= incident.type_of_incident %>
                    <%= incident.treatment %>
                    <%= incident.property_damage %>
                    <%= incident.supervisor_last_name %>
                    <%= incident.supervisor_first_name %>
                    <%= incident.suggested_corrective_action %>
                    <%= link_to('Edit Incident', edit_incident_path(incident)) %>
                <% end %>
            </td>
        </tr>
    </tbody>
</table>

<%= link_to 'New Incident', new_incident_path %>



