<%= "#{pluralize(@incidents.count, 'incident')}" %>
<%= link_to 'New Incident', new_incident_path, class: 'button radius' %>
    <table class="hover" id="incidents">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Department</td>
            <td>Job Title</td>
            <td>Date of Hire</td>
            <td>Description</td>
            <td>Date of Incident</td>
            <td>Date Reported</td>
            <td>Location of Incident</td>
            <td>Type of Incident</td>
            <td>Supervisor Last Name</td>
            <td>Supervisor First Name</td>
            <td>Suggested Corrective Action</td>
            <td colspan="2">Action</td>
        </tr>
    </thead>
    <tbody>
        <% @incidents.each do |incident| %>
        <tr>
            <td><%= incident.first_name %></td>
            <td><%= incident.last_name %></td>
            <td><%= incident.department %></td>
            <td><%= incident.job_title %></td>
            <td><%= incident.date_of_hire %></td>
            <td><%= incident.description.truncate_words(10) %></td>
            <td><%= incident.date_of_incident %></td>
            <td><%= incident.date_reported %></td>
            <td><%= incident.location_of_incident %></td>        
            <td><%= incident.type_of_incident %></td>    
            <td><%= incident.supervisor_last_name %></td>
            <td><%= incident.supervisor_first_name %></td>
            <td><%= incident.suggested_corrective_action.truncate_words(10) %></td>
            <td><%= link_to 'Edit Incident', edit_incident_path(incident)%></td>
            <td><%= link_to 'Show Incident', incident_path(incident) %></td>
        </tr>
        <% end %>
    </tbody>
</table>







