<h1><%= @incident.date_of_incident %></h1>
<p><%= @corrective_action.action %></p>
<p><%= @corrective_action.expected_completion_date %></p>
<p><%= @corrective_action.actual_completion_date %></p>
<p><%= @corrective_action.complete %></p>